.env
plan.txt
classification_db.tgz
vectorstore_index.tgz
db_schemas.tgz
data/raw/Tcomments.json
data/raw/Tgrades.json
data/raw/TgradesSemesters.json
data/raw/Tquestions.json
data/raw/Explanation.txt
/__pycache__
*/__pycache__
/chat_history/
/chat_history/*
/chroma_db
/classification_db
/db_schemas
/query_classification/training_params_explanation.txt