pip install langchain-text-splitters
pip install langchain
pip install langchain-community
pip install langchain-nvidia-ai-endpoints
pip install python-dotenv
pip install sentence-transformers
pip install langchain-chroma
pip install openai
pip install streamlit
pip install mysql-connector-python
pip install langchain-huggingface
pip install --upgrade huggingface_hub